body {
    height: 100vh;
}

h1{
    text-align: center;
    padding: 0;
    margin: 0%;
}

main{
    background-color: lightgray;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    width: 600px;
}

.post {
    background-color: white;
    padding: 0;
    margin: 20px;
}

header{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

h3 {
    width: 100%;
    text-align: left;
}

.date {
    color: lightgray;
}

footer{
    padding: 10px;
    padding-bottom: 5px;
}